@{
    ViewBag.Title = "Home Page";
}

<div class="content-header">
    <ul class="content-header-action pull-right">
        <li>
            <a href="#">
                <span data-chart="peity-bar" data-height="32" data-colours='["#00A600", "#00A600"]'>5,3,9,6,5,9,7,3,5,2</span>
                <div class="action-text color-green">8765 <span class="helper-font-small color-silver-dark">Visits</span></div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <span data-chart="peity-bar" data-height="32" data-colours='["#00A0B1", "#00A0B1"]'>9,7,9,6,3,5,3,5,5,2</span>
                <div class="action-text color-teal">1437 <span class="helper-font-small color-silver-dark">Users</span></div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <span data-chart="peity-bar" data-height="32" data-colours='["#BF1E4B", "#BF1E4B"]'>6,5,9,7,3,5,2,5,3,9</span>
                <div class="action-text color-red">4367 <span class="helper-font-small color-silver-dark">Orders</span></div>
            </a>
        </li>
    </ul>
    <h2><i class="icofont-home"></i> Dashboard <small>welcome to stilearn</small></h2>
</div><!-- /content-header -->

<!-- content-breadcrumb -->
<div class="content-breadcrumb">
    <!--breadcrumb-nav-->
    <ul class="breadcrumb-nav pull-right">
        <li class="divider"></li>
        <li class="btn-group">
            <a href="#" class="btn btn-small btn-link dropdown-toggle" data-toggle="dropdown">
                <i class="icofont-tasks"></i> Tasks
                <i class="icofont-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Some Action</a></li>
                <li><a href="#">Other Action</a></li>
                <li class="divider"></li>
                <li><a href="#">Something Else</a></li>
            </ul>
        </li>
        <li class="divider"></li>
        <li class="btn-group">
            <a href="#" class="btn btn-small btn-link">
                <i class="icofont-money"></i> Orders <span class="color-red">(+12)</span>
            </a>
        </li>
        <li class="divider"></li>
        <li class="btn-group">
            <a href="#" class="btn btn-small btn-link">
                <i class="icofont-user"></i> Users <span class="color-red">(+34)</span>
            </a>
        </li>
    </ul><!--/breadcrumb-nav-->
    <!--breadcrumb-->
    <ul class="breadcrumb">
        <li><a href="index.html"><i class="icofont-home"></i> Dashboard</a> <span class="divider">&rsaquo;</span></li>
        <li class="active">Data elements</li>
    </ul><!--/breadcrumb-->
</div><!-- /content-breadcrumb -->

<!-- content-body -->
<div class="content-body">
    <h2>Dialogs</h2>
    <a href="#" id="alert" class="btn btn-default">Alert Dialog</a><br>
    <a href="#" id="confirm" class="btn btn-default">Confirm Dialog</a><br>
    <a href="#" id="prompt" class="btn btn-default">Prompt Dialog</a><br>
    <a href="#" id="labels" class="btn btn-default">Custom Labels</a><br>
    <a href="#" id="focus" class="btn btn-default">Button Focus</a><br>
    <a href="#" id="order" class="btn btn-default">Button Order</a>
    <h2>Ajax</h2>
    <a href="#" id="ajax" class="btn btn-default">Ajax - Multiple Dialog</a>
    <h2>Logs</h2>
    <a href="#" id="notification" class="btn btn-default">Standard Log</a><br>
    <a href="#" id="success" class="btn btn-default">Success Log</a><br>
    <a href="#" id="error" class="btn btn-default">Error Log</a><br>
    <a href="#" id="custom" class="btn btn-default">Custom Log</a><br>
    <a href="#" id="delay" class="btn btn-default">Hide in 10 seconds</a><br>
    <a href="#" id="forever" class="btn btn-default">Persistent Log</a>
</div>