@{
    ViewBag.Title = "Home Page";
}

<div class="content-header">
   <h2><i class="icofont-home"></i> Yönetici Paneli <small> ichigo cake yönetime hoşgeldin</small></h2>
</div><!-- /content-header -->

<!-- content-body -->
<div class="content-body">
    
</div>