<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.1.1" targetFramework="net45" />
  <package id="CompareNETObjects" version="2.00.0.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Repository" version="1.0.6.16" targetFramework="net45" />
  <package id="Repository.EntityFramework" version="1.0.7.1" targetFramework="net45" />
</packages>