@charset "utf-8";
/* CSS Document */
/* Stickers CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */

.home .sticker {
	background: #333;
}
.about .sticker {
	background: #333;
}
.services .sticker {
	background: #333;
}
.portfolio .sticker {
	background: #333;
}
.blog .sticker {
	background: #333;
}
.contact .sticker {
	background: #333;
}