@{
    ViewBag.Title = "Ichigo Cake - Pastalarımız";
}

<div class="content-header">
    <h2><i class="icofont-home"></i> Pastalarımız <small> ichigo cake pasta listesi</small></h2>
</div><!-- /content-header -->
<!-- content-body -->
<div class="content-body">

    <div class="box-tab corner-all">
        
    </div>
</div>

@section Scripts {

}
