
@{
    ViewBag.Title = "ichigo Cake - Referanslar";
}

<div class="masonry">
    @{
        for (var i = 0; i < 5; i++)
         {
             <!-- Blog item -->
             <div class="item blog">
                 <div class="view-fancybox">
                     <img src="~/Content/photos/thumb6.jpg" alt="Photo" class="margin-bottom-half" />

                     <!-- Blog item fancybox -->
                     <a href="~/Content/photos/thumb6.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>

                     <!-- Blog item Link -->
                     <a href="#"><i class="icon-link view-detail-i"></i></a>
                 </div>

                 <!-- Blog item Description -->
                 <h3>Blog post title</h3>
                 <p class="date-post">July 15th, 2013 by <a href="#">admin</a> ( 3 comments )</p>
                 <p class="margin-bottom-half">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit <a href="#">lobortis</a> nisl ut aliquip ex ea commodo consequat.</p>
                 <a href="@Url.Action("Detail","Reference")" class="btn">Continue reading</a> <i class="icon-star-empty sticker"></i>
             </div>
         }
    }
</div>
