
@{
    ViewBag.Title = "ichigo Cake - Referanslar";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
}

<div class="blog-detail">
    <h1>Referanslarımız</h1>

    <hr />
    <p class="lead">Öznur & Sertaç Evleniyor</p>
    <p class="date-post">July 15th, 2013 by <a href="#">admin</a></p>
    <p class="margin-bottom-half">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <strong>nonummy</strong> nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

    <!-- Blog item Gallery -->
    <ul class="thumbnails">
        <li class="span3 view-fancybox">
            <img src="~/Content/photos/thumb3.jpg" alt="Photo" />

            <!-- Blog item fancybox -->
            <a href="~/Content/photos/thumb3.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
        </li>
        <li class="span3 view-fancybox">
            <img src="~/Content/photos/thumb2.jpg" alt="Photo" />

            <!-- Blog item fancybox -->
            <a href="~/Content/photos/thumb2.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
        </li>
        <li class="span3 view-fancybox">
            <img src="~/Content/photos/thumb1.jpg" alt="Photo" />

            <!-- Blog item fancybox -->
            <a href="~/Content/photos/thumb1.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
        </li>
    </ul>
    <p class="margin-bottom">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla <a href="#">facilisis at vero</a> eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    <hr />
    <p class="lead">İchigo Cake Açılış</p>
    <p class="date-post">July 15th, 2013 by <a href="#">admin</a> ( 3 comments )</p>
    <p class="margin-bottom-half">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <strong>nonummy</strong> nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

</div>

