@{
    ViewBag.Title = "ichigo Cake - Hakkımızda";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
}

<!-- About item: About us -->
<div class="masonry">

    <!-- Portfolio item -->
    <div class="item portfolio">
        <div class="view-fancybox">
            <img src="~/Content/SiteContent/About/10150708_727553500628360_57497283_n.jpg" alt="ichigo cake Adres" />

            <!-- Portfolio item fancybox -->
            <a href="~/Content/SiteContent/About/10150708_727553500628360_57497283_n.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>

            <!-- Portfolio item Link -->
            <a href="@Url.Action("Index","Home")"><i class="icon-link view-detail-i"></i></a>
        </div>

        <!-- Portfolio item Description -->
        <h3>Dükkanımız</h3>
        <p class="lead">ichigo cake</p>
        <p class="margin-bottom-no">Beşevler caddesi üzerindeki, mütevazi samimi dükkanımıza sizleri bekleriz. <a href="@Url.Action("Contact","Home")">Detaylı adresimiz</a> ve iletişim formumuza iletişim sayfamızdan ulaşabilirsiniz.</p>
        <i class="icon-smile sticker"></i>
    </div>

    <!-- About item: Our Team -->
    <div class="item about">
        <h2>Takımımız</h2>
        <p class="lead">İchigo Ekip</p>

        <!-- About item: Slider -->
        <div class="flexslider">
            <ul class="slides">

                <!-- About item: Şef -->
                <li>
                    <img src="~/Content/SiteContent/About/ichigo_cake_chef2.jpg" alt="ichigo cake butik pasta tasarım şefi" class="margin-bottom-half" />
                    <h3>İlknur İren</h3>
                    <p class="lead">Pasta Şefi, Kurucu</p>
                    <p>Çalışmak, <strong>hayat enerjim.</strong> Sevdiğim işi buldum. Chef'n İstanbul pasta kursunu tamamladıktan sonra 1 ay boyunca staj yaptım. Şimdi de arada günlük eğitimlere katılarak tasarım becerilerimi geliştirmeye devam ediyorum. İchigo Cake ile yeni hedeflerim ve hayallerim var.</p>
                    <div class="social-links"><a href="https://www.facebook.com/ilknur.iren?fref=ts"><i class="icon-facebook"></i></a></div>
                </li>
                <!-- About item: Yardımcı Elemanlar -->
                <li>
                    <img src="~/Content/SiteContent/About/1465394_506866766079186_846840638_n.jpg" alt="ichigo cake butik pasta tasarım şefi" class="margin-bottom-half" />
                    <h3>Tuğba İren</h3>
                    <p class="lead"></p>
                    <p>Felsefe, fotoğraf, resim ve şimdi de pasta yapan çok yönlü üyemiz, <strong>dükkanımızın çırağı.</strong></p>
                </li>
                <li>
                    <img src="~/Content/SiteContent/About/473357_4102164635128_919497202_o.jpg" alt="ichigo cake butik pasta tasarım şefi" class="margin-bottom-half" />
                    <h3>Esra İren</h3>
                    <p class="lead"></p>
                    <p>Bu sene ekonometri mezunu olan üyemiz, <strong>dükkanımızın gülü.</strong></p>
                </li>
                <li>
                    <img src="~/Content/SiteContent/About/1537675_10202190352713574_1991864106_o.jpg" alt="ichigo cake butik pasta tasarım şefi" class="margin-bottom-half" />
                    <h3>Sefa İren</h3>
                    <p class="lead"></p>
                    <p>Elektronik mühendisi öğrencimiz, her alandaki asistanımız, <strong>dükkanımızın gizli gücü.</strong></p>
                </li>
                <!-- About item: Web İşleri -->
                <li>
                    <img src="~/Content/SiteContent/About/1537675_10202190352713574_1991864106_o.jpg" alt="ichigo cake butik pasta tasarım şefi" class="margin-bottom-half" />
                    <h3>Öznur & Sertaç</h3>
                    <p class="lead"></p>
                    <p>Ekibimizin IT üyeleri, <strong>dükkanımızın teknolojisi.</strong></p>
                </li>
            </ul>
        </div>
        <i class="icon-smile sticker"></i>
    </div>

    <!-- About item: Our Skill -->
    <div class="item about">
        <h2>Yetenekler</h2>
        <p class="lead">Pasta Sanatındaki Becerilerimiz</p>
        <div class="progress">
            <div class="bar" style="width: 100%">Lezzet <span>100%</span></div>
        </div>
        <div class="progress">
            <div class="bar" style="width: 100%">Hijyen <span>100%</span></div>
        </div>
        <div class="progress">
            <div class="bar" style="width: 100%">Tasarım <span>100%</span></div>
        </div>
        <div class="progress">
            <div class="bar" style="width: 84%">Figür Tasarım <span>84%</span></div>
        </div>
        <div class="progress margin-bottom-no">
            <div class="bar" style="width: 96%">Çiçek Tasarım <span>96%</span></div>
        </div>
        
        <i class="icon-smile sticker"></i>
    </div>
</div>