@{
    ViewBag.Title = "ichigo Cake - Butik Pasta & Kurabiye";
}
<div class="masonry">
    <!-- Home item -->
    <div class="item home">
        <h2>MERHABA</h2>
        <p class="lead">Ichigo Cake'e Hoşgeldiniz</p>
        <!-- Home item: Slider -->
        <div class="flexslider">
            <ul class="slides">
                <li><img src="~/Content/SiteContent/Home/10006230_724565457593831_1311065989_n.jpg" alt="" /></li>
                <li><img src="~/Content/SiteContent/Home/1013818_724569017593475_2146728036_n.jpg" alt="" /></li>
                <li><img src="~/Content/SiteContent/Home/10150708_727553500628360_57497283_n.jpg" alt="" /></li>
                <li><img src="~/Content/SiteContent/Home/10155729_724567287593648_1283230077_n.jpg" alt="" /></li>
                <li><img src="~/Content/SiteContent/Home/1798176_724566940927016_1279482373_n.jpg" alt="" /></li>
            </ul>
        </div>
        <i class="icon-home sticker"></i>
    </div>

    <!-- Home item -->
    <div class="item home">

        <!-- Home item: Hero Unit -->
        <div class="hero-unit">
            <h2>Pastalarımız</h2>
            <p class="lead">Ichigo'nun Sırrı</p>
            <p>
                İchigo Cake, hayallerimizin ortak ürünüdür. Sevgimizi ve çabamızı bir araya getirdik ve şimdi sizlere hizmet vermeye hazırız. <a href="http://www.turkcesozluk.gen.tr/ichigo.html" target="_blank">İchigo</a>, japonca çilek anlamına gelir. İlhamımızı <strong>çilekli pastanın enfes tadından</strong> alıyoruz...<br />
                <br />
                Amacımız, lezzette kaliteden ödün vermeden etrafa mutluluk saçan tasarımlar yapmak. Tasarımlarımıza göz atın...
            </p>
            <a href="@Url.Action("Index","Cake")" class="btn btn-large">Pastalarımız</a> <i class="icon-heart"></i>
        </div>
        <i class="icon-home sticker"></i>
    </div>



    <!-- Services item: Simple Text -->
    <div class="item dark services">
        <h2>Servislerimiz</h2>
        <p class="lead">Hayalinizdeki pastayı yapıyoruz.</p>
        <p class="margin-bottom-no">
            Sizin için, özel günlerinizi daha da özel yapabilmeyi arzuluyoruz. Bu nedenle, sizin hayal ettiklerinizi <strong>tasarlıyoruz.</strong> <br />
            <br />
            Hayallerinizdeki pastayı bizimle <a href="@Url.Action("Contact","Home")">paylaşın</a>, gerçeğe dönüştürüp size teslim edelim.
        </p>
        <i class="icon-cog sticker"></i>
    </div>

    <!-- Video item -->
    <div class="item home">
        <h2>Ichigo Video</h2>
        <p class="lead">RPURYCH'a Teşekkürler</p>

        <!-- Portfolio item: Video -->
        @* <iframe src="http://player.vimeo.com/video/70323400?title=0&amp;byline=0&amp;portrait=0" height="198" class="video"></iframe>*@
        <iframe src="//player.vimeo.com/video/87077162" height="198" class="video"></iframe>
        <i class="icon-smile sticker"></i>
    </div>
</div>