@{
    ViewBag.Title = "ichigo Cake - Butik Pasta & Kurabiye";
}
<div class="masonry">
    <!-- Home item -->
    <div class="item home">
        <h2>MERHABA</h2>
        <p class="lead">Ichigo Cake'e Hoşgeldiniz</p>
        <!-- Home item: Slider -->
        <div class="flexslider">
            <ul class="slides">
                <li><img src="~/Content/photos/thumb1.jpg" alt="Photo" /></li>
                <li><img src="~/Content/photos/thumb2.jpg" alt="Photo" /></li>
                <li><img src="~/Content/photos/thumb3.jpg" alt="Photo" /></li>
                <li><img src="~/Content/photos/thumb4.jpg" alt="Photo" /></li>
                <li><img src="~/Content/photos/thumb5.jpg" alt="Photo" /></li>
                <li><img src="~/Content/photos/thumb6.jpg" alt="Photo" /></li>
                <li><img src="~/Content/photos/thumb7.jpg" alt="Photo" /></li>
                <li><img src="~/Content/photos/thumb8.jpg" alt="Photo" /></li>
            </ul>
        </div>
        <i class="icon-home sticker"></i>
    </div>

    <!-- Home item -->
    <div class="item home">

        <!-- Home item: Hero Unit -->
        <div class="hero-unit">
            <h2>Pastalarımız</h2>
            <p class="lead">Ichigo'nun Sırrı</p>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing cliche reprehenderit, enim <a href="#">eiusmod</a> high life accusamus terry richardson ad squid. Synth <strong>nesciunt you probably</strong> haven't...<br />
                <br />
                Anim pariatur cliche reprehenderit, enim high life accusamus terry richardson ad squid. Synth haven't heard of them
            </p>
            <a href="#" class="btn btn-large">Info</a> <i class="icon-heart"></i>
        </div>
        <i class="icon-home sticker"></i>
    </div>



    <!-- Services item: Simple Text -->
    <div class="item dark services">
        <h2>Servislerimiz</h2>
        <p class="lead">Hayalinizdeki pastayı yapıyoruz.</p>
        <p class="margin-bottom-no">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <strong>tincidunt ut laoreet</strong> dolore magna aliquam erat volutpat.<br />
            <br />
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit <a href="#">lobortis</a> nisl ut aliquip ex ea commodo consequat.
        </p>
        <i class="icon-cog sticker"></i>
    </div>

    <!-- Video item -->
    <div class="item home">
        <h2>Ichigo Video</h2>
        <p class="lead">RPURYCH'a Teşekkürler</p>

        <!-- Portfolio item: Video -->
       @* <iframe src="http://player.vimeo.com/video/70323400?title=0&amp;byline=0&amp;portrait=0" height="198" class="video"></iframe>*@
        <iframe src="//player.vimeo.com/video/87077162" height="198" class="video"></iframe>
        <i class="icon-smile sticker"></i>
    </div>
</div>