@charset "utf-8";
/* CSS Document */
/* Background CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */

body {
	background-image: -moz-linear-gradient(50% 0% -90deg, rgb(191,255,223) 0%, rgb(223,255,191) 100%);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(191,255,223)), color-stop(1, rgb(223,255,191)));
	background-image: -webkit-linear-gradient(-90deg, rgb(191,255,223) 0%, rgb(223,255,191) 100%);
	background-image: -o-linear-gradient(-90deg, rgb(191,255,223) 0%, rgb(223,255,191) 100%);
	background-image: -ms-linear-gradient(-90deg, rgb(191,255,223) 0%, rgb(223,255,191) 100%);
	background-image: linear-gradient(-90deg, rgb(191,255,223) 0%, rgb(223,255,191) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffbfffdf, endColorstr=#ffdfffbf, GradientType=0) progid:DXImageTransform.Microsoft.Matrix(M11=-0.71, M21=-0.71, M12=0.71, M22=-0.71, SizingMethod='auto expand')";
 filter:
 progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffbfffdf, endColorstr=#ffdfffbf, GradientType=0) progid:DXImageTransform.Microsoft.Matrix(M11=-0.71, M21=-0.71, M12=0.71, M22=-0.71, SizingMethod='auto expand');
}
.flex-direction-nav li a.flex-prev, .flex-direction-nav li a.flex-next {
	background: #333;
}
.menu-filters ul li a, .menu ul li a {
	color: #FFF;
}