@model ichigocake.web.Models.CakeViewModel
@{
    ViewBag.Title = "İchigo Cake - Pastalar ve Kategorilerimiz";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
}
@using (Ajax.BeginForm("CakeList", "Cake", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "cakeList" }, new { id = "CompanyUserFilterForm" }))
{
}

<div id="cakeList">
    @Html.Partial("_CakeList", Model)
    <input type="hidden" id="catId" value="@Model.Filter.CatId" />
</div>

@section scripts{
    <script type="text/javascript">
        $(document).on("click", ".pagination a", function () {
            if ($("#cakeList").length > 0) {
                if ($(this).parent().attr("class") == "active")
                    return false;
                $('html,body').animate({
                    scrollTop: 100
                }, '1500000000');
                var pageUrl = $(this).attr("href");

                $.ajax({
                    type: "POST",
                    url: pageUrl,
                    data: {
                        CatId: $("#catId").val()
                    },
                    traditional: true,
                    dataType: 'html',
                    success: function (resp, st, xhr) {
                        if (st == "success") {
                            $("#cakeList").html(resp);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
                return false;
            }
            return true;
        });
    </script>
}