@{
    ViewBag.Title = "İchigo Cake - Pastalar ve Kategorilerimiz";
}

<div class="blog-detail">
    <h2>Pastalarımız</h2>
    <p class="lead">Kategorilerimize Göre Pastalarımızı Keşfedin</p>

    <!-- Services item: Accordion -->
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><i class="icon-star"></i> Doğum Günleri, Özel Günler</a></div>
            <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
                <div class="accordion-inner">
                    <ul class="thumbnails">
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/araba.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/araba.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/bahce.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/bahce.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/balon.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/balon.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/beyaz.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/beyaz.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/bulut.jpg" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/bulut.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/melekbebek.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/melekbebek.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/cikolatacilek.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/cikolatacilek.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/cilek.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/cilek.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/kelebek.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/kelebek.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/melek.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/melek.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/cicek.jpg" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/cicek.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/piano.jpg" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/piano.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><i class="icon-star"></i> Bebek Kutlamaları</a></div>
            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                    <ul class="thumbnails">
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/araba.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/araba.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/bahce.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/bahce.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/balon.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/balon.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/beyaz.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/beyaz.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/bulut.jpg" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/bulut.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/melekbebek.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/melekbebek.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/cikolatacilek.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/cikolatacilek.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/cilek.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/cilek.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/kelebek.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/kelebek.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/melek.JPG" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/melek.JPG" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/cicek.jpg" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/cicek.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                        <li class="span2 view-fancybox">
                            <img src="~/Content/SiteContent/Cake/Birthday/piano.jpg" alt="Photo">

                            <!-- Blog item fancybox -->
                            <a href="~/Content/SiteContent/Cake/Birthday/piano.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"><i class="icon-star"></i> Düğün & Nişan Pastaları</a></div>
            <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim <a href="#">eiusmod</a> high life accusamus terry richardson ad squid. Synth <strong>nesciunt you probably</strong> haven't heard of them accusamus labore sustainable VHS.</div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour"><i class="icon-star"></i> Kurabiyeler & Makaronlar</a></div>
            <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim <a href="#">eiusmod</a> high life accusamus terry richardson ad squid. Synth <strong>nesciunt you probably</strong> haven't heard of them accusamus labore sustainable VHS.</div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive"><i class="icon-star"></i> Kapkekler & Muffinler</a></div>
            <div id="collapseFive" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim <a href="#">eiusmod</a> high life accusamus terry richardson ad squid. Synth <strong>nesciunt you probably</strong> haven't heard of them accusamus labore sustainable VHS.</div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive"><i class="icon-star"></i> Tuzlu & Tatlılar</a></div>
            <div id="collapseFive" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim <a href="#">eiusmod</a> high life accusamus terry richardson ad squid. Synth <strong>nesciunt you probably</strong> haven't heard of them accusamus labore sustainable VHS.</div>
            </div>
        </div>
        <div class="accordion-group margin-bottom-no">
            <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven"><i class="icon-star"></i> Cheesecake</a></div>
            <div id="collapseSeven" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim <a href="#">eiusmod</a> high life accusamus terry richardson ad squid. Synth <strong>nesciunt you probably</strong> haven't heard of them accusamus labore sustainable VHS.</div>
            </div>
        </div>
    </div>
</div>