@{
    ViewBag.Title = "Ichigo Cake - Pasta Kategorilerimiz";
}

<h2>Pastalarımız</h2>

<!-- Kategori item -->
<div class="item portfolio">
    <div class="view-fancybox">

        <!-- Portfolio item Slider -->
        <div class="flexslider">
            <ul class="slides">
                <li><img src="photos/thumb8.jpg" alt="Photo" class="margin-bottom-half" /></li>
                <li><img src="photos/thumb4.jpg" alt="Photo" class="margin-bottom-half" /></li>
                <li><img src="photos/thumb1.jpg" alt="Photo" class="margin-bottom-half" /></li>
            </ul>
        </div>

        <!-- Portfolio item fancybox -->
        <a href="photos/thumb1.jpg" class="fancybox" rel="tag"><i class="icon-picture view-fancybox-i"></i></a>

        <!-- Portfolio item Link -->
        <a href="detail.html"><i class="icon-link view-detail-i"></i></a>
    </div>

    <!-- Portfolio item Description -->
    <h3>John Doe</h3>
    <p class="lead">web designer</p>
    <p class="margin-bottom-half">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit <a href="#">lobortis</a> nisl ut aliquip ex ea commodo consequat.</p>
    <i class="icon-briefcase sticker"></i>
</div>